<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12" style="margin-bottom: 10px;">
        <div id="myTextDiv" style="color:#fff;position: absolute;padding: 6px 7px 0px 0px;">
            <span ng-click="clearZone()" style="cursor: pointer;color:black"><strong><u>Clear Zone</u></strong></span>
        </div>
        <span class="small" style="color:gray">Choose drawing tool (polygon/circle icon, top-right of the map) and tap on map to draw.</span>
        <!-- ng-style="{ 'border': !temp.search ? '1px solid #a94442' : '1px solid rgba(27,127,204,.8)' }" -->
        <input id="geo-input" class="geo-controls form-control" type="text" ng-model="temp.search" placeholder="Type Area name" style="z-index:1051;width:84%" ng-dblclick="clearInput()">
        <div id="map"></div>
    </div>
    <div class="col-md-12">
        <div class="form-group input-group" ng-class="{ 'has-error': !temp.zoneName }">
            <span class="input-group-addon">
                <strong>Name</strong>
            </span>
            <input class="form-control" type="text" ng-model="temp.zoneName" Placeholder="Enter Zone name">
        </div>
    </div>
</div>
<div class="alert alert-danger alert-dismissible" role="alert" ng-if="temp.partnerExist">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="temp.noShape = false"><span aria-hidden="true">&times;</span></button>
    ! Partner Already Present
</div>
<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <strong>Partner</strong>
            </span>
            <input type="text" class="form-control" style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;" placeholder="Search Partner" ng-model="temp.partner" ng-change="getPartnerByName(temp.partner)" ng-model-options="{ debounce: 1500 }">
            <table ng-show="partners.length" class="table searchtable" style="margin-top: 34px;">
                <tbody>
                    <tr ng-repeat="partner in partners track by $index">
                        <td ng-click="getPartnerUser(partner)" class="pointer">
                            <span>{{partner.info.name}}</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-12" ng-if="temp.currentPartners.length" ng-repeat="obj in temp.currentPartners track by $index">
            <div class="list-group" id="list1" style="padding:0px 15px;">
                <span class="list-group-item disabled" style="height:57px !important">{{obj.partner.info.name}}
                    <span ng-click="removePartner(obj, $index)"><i class="glyphicon glyphicon-remove pull-right"></i></span><br>
                    <input type="checkbox" ng-model="obj.selectAllPhlebo" class="pull-right" ng-click="selectAll(obj.selectAllPhlebo, obj.phlebos, obj)">
                    <span class="pull-right">select all&nbsp;&nbsp;</span>
                    
                </span>
                <div style="max-height:206px !important;overflow-y:auto;">
                    <span class="list-group-item" ng-repeat="phlebo in obj.phlebos">
                            <span>{{phlebo.profile.name}}</span>
                    <input type="checkbox" class="pull-right" ng-model="phlebo.isCheck" ng-change="selectPhlebo(phlebo.isCheck, phlebo, obj)">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -----------------------------------------------existing partners--------------------------------------------------------- -->
<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12" ng-if="zones._id && temp.existingPartners.length" ng-repeat="obj in temp.existingPartners track by $index">
        <div class="list-group" id="list1" style="max-height:206px;overflow-y:auto">
            <span class="list-group-item active" style="height:57px !important">{{obj.info.name}}
                <span ng-click="removeExistPartner(obj, $index)"><i class="glyphicon glyphicon-remove pull-right"></i></span><br>
                <input type="checkbox" ng-model="obj.selectAllExistPhlebo" class="pull-right" ng-click="selectAllExistPartner(obj.selectAllExistPhlebo, obj.phlebos, obj)">
                <span class="pull-right">select all&nbsp;&nbsp;</span>
            </span>
            <div style="max-height:206px !important;overflow-y:auto;">
                <span class="list-group-item" ng-repeat="partnerPhlebo in obj.phlebos">
                    <span>{{partnerPhlebo.profile.name}}</span>
                <input type="checkbox" class="pull-right" ng-model="partnerPhlebo.isCheck" ng-change="selectPartnerPhlebo(partnerPhlebo.isCheck, partnerPhlebo, obj)">
                </span>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-danger alert-dismissible" role="alert" ng-if="temp.noUser">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="temp.noUser = false"><span aria-hidden="true">&times;</span></button>
    ! Select Atleast one Phlebo
</div>
<div class="alert alert-danger alert-dismissible" role="alert" ng-if="temp.noShape">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="temp.noShape = false"><span aria-hidden="true">&times;</span></button>
    ! Draw Shape
</div>
<div class="col-md-12">
    <button class="btn btn-primary" type="button" ng-click="saveCurrentZone()" ng-disabled="!temp.zoneName">Save</button>
    <div id="partnerExist">Partner Already Present !</div>
</div>
