#map{
    height: 280px !important;
}

.geo-controls {
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 25px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#geo-input {
  left:-6px !important;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 97%;
}

#geo-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
  z-index: 1051;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

/*---toast add/update---*/
#partnerExist {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#partnerExist.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.well{
  overflow-y: auto;
  max-height: 649px;
  padding: 8px 4px;
  overflow-x: hidden;
  background-color: white;
}
